include ../input/input.pug
include ../button/button.pug

form.converter
  .converter__item
    +input("text", "Русский")#russian.input.input_type_text.input_full.input_size_l
      svg(
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="1.414"
        clip-rule="evenodd"
        viewBox="0 0 512 512"
        width="24"
        height="24"
        role="presentation"
        focusable="false"
      )
        path(fill="#fff" d="M0 0h512v512H0z")
        path(fill="#0039a6" d="M0 170.7h512V512H0z")
        path(fill="#d52b1e" d="M0 341.3h512V512H0z")
    +button("button")#copy-russian.btn.btn_copy.btn_size_s.btn_rounded.btn_transparent(
      title="Copy to clipboard"
    ) Copy

  .converter__item
    +input("text", "English")#english.input.input_type_text.input_full.input_size_l
      svg(
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="1.414"
        clip-rule="evenodd"
        viewBox="0 0 512 512"
        width="24"
        height="24"
        role="presentation"
        focusable="false"
      )
        path(fill="#fff" d="M0 0h512v512H0z")
        path(
          fill="#bd3d44"
          d="M512 512H0v-39.38h512V512zm0-78.765H0V393.85h512v39.385zm0-78.77H0V315.08h512v39.385zm0-78.77H0V236.31h512v39.385zm0-78.77H0V157.54h512v39.385zm0-78.77H0V78.77h512v39.385zm0-78.77H0V0h512v39.385z"
        )
        path(fill="#fff" d="M0 0h388.957v275.559H0z")
        path(
          fill="#192f5d"
          d="M389.124 275.695H0V0h389.124v275.695zm-28.751-32.296l-3.545-11.028-3.545 11.028h-11.421l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-64.986 0l-3.544-11.027-3.545 11.027h-11.421l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.422zm-64.591 0l-3.938-11.027-3.151 11.027h-11.816l9.453 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.545-10.634 9.059-6.696h-11.028zm-64.985 0l-3.545-11.027-3.544 11.027H147.3l9.452 6.696-3.938 10.634 9.452-6.696 9.453 6.696-3.939-10.634 9.452-6.696h-11.421zm-64.985 0l-3.545-11.027-3.545 11.027H82.315l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.421zm-64.986 0l-3.15-11.027-3.151 11.027H17.723l9.453 6.696-3.545 10.634 8.665-6.696 9.452 6.696-3.545-10.634 9.453-6.696H35.84zm292.237-27.569l-3.938-11.028-3.545 11.028h-11.816l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-10.634zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.452-6.695h-11.421zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.544-10.634 9.058-6.695h-11.421zm-64.592 0l-3.938-11.028-3.151 11.028H114.61l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-11.028zm-64.985 0l-3.545-11.028-3.544 11.028H50.019l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.453-6.695H68.53zm291.843-27.57l-3.545-11.027-3.545 11.027h-11.421l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-64.986 0l-3.544-11.027-3.545 11.027h-11.421l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.422zm-64.591 0l-3.938-11.027-3.151 11.027h-11.816l9.453 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.545-10.634 9.059-6.696h-11.028zm-64.985 0l-3.545-11.027-3.544 11.027H147.3l9.452 6.696-3.938 10.634 9.452-6.696 9.453 6.696-3.939-10.634 9.452-6.696h-11.421zm-64.985 0l-3.545-11.027-3.545 11.027H82.315l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.421zm-64.986 0l-3.15-11.027-3.151 11.027H17.723l9.453 6.696-3.545 10.634 8.665-6.696 9.452 6.696-3.545-10.634 9.453-6.696H35.84zm292.237-27.569l-3.938-11.028-3.545 11.028h-11.816l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-10.634zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.938 10.634 9.452-6.695L269 178.02l-3.939-10.634 9.452-6.695h-11.421zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.544-10.634 9.058-6.695h-11.421zm-64.592 0l-3.938-11.028-3.151 11.028H114.61l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-11.028zm-64.985 0l-3.545-11.028-3.544 11.028H50.019l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.453-6.695H68.53zm-32.69-27.57l-3.15-11.027-3.151 11.027H17.723l9.453 6.696-3.545 10.634 8.665-6.696 9.452 6.696-3.545-10.634 9.453-6.696H35.84zm64.986 0l-3.545-11.027-3.545 11.027H82.315l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.421zm64.985 0l-3.545-11.027-3.544 11.027H147.3l9.452 6.696-3.938 10.634 9.452-6.696 9.453 6.696-3.939-10.634 9.452-6.696h-11.421zm64.985 0l-3.938-11.027-3.151 11.027h-11.816l9.453 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.545-10.634 9.059-6.696h-11.028zm64.591 0l-3.544-11.027-3.545 11.027h-11.421l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.422zm64.986 0l-3.545-11.027-3.545 11.027h-11.421l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-32.296-27.569l-3.938-11.028-3.545 11.028h-11.816l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-10.634zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.452-6.695h-11.421zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.544-10.634 9.058-6.695h-11.421zm-64.592 0l-3.938-11.028-3.151 11.028H114.61l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-11.028zm-64.985 0l-3.545-11.028-3.544 11.028H50.019l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.453-6.695H68.53zm291.843-27.57l-3.545-11.027-3.545 11.027h-11.421l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-64.986 0l-3.544-11.027-3.545 11.027h-11.421l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.422zm-64.591 0l-3.938-11.027-3.151 11.027h-11.816l9.453 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.545-10.634 9.059-6.696h-11.028zm-64.985 0l-3.545-11.027-3.544 11.027H147.3l9.452 6.696-3.938 10.634 9.452-6.696 9.453 6.696-3.939-10.634 9.452-6.696h-11.421zm-64.985 0l-3.545-11.027-3.545 11.027H82.315l9.452 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.544-10.634 9.058-6.696h-11.421zm-64.986 0l-3.15-11.027-3.151 11.027H17.723l9.453 6.696-3.545 10.634 8.665-6.696 9.452 6.696-3.545-10.634 9.453-6.696H35.84zm292.237-27.569l-3.938-11.028-3.545 11.028h-11.816l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-10.634zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.938 10.634 9.452-6.695L269 67.742l-3.939-10.634 9.452-6.695h-11.421zm-64.985 0l-3.545-11.028-3.545 11.028h-11.421l9.452 6.695-3.939 10.634 9.453-6.695 9.452 6.695-3.938-10.634 9.452-6.695h-11.421zm-64.592 0l-3.938-11.028-3.151 11.028H114.61l9.453 6.695-3.545 10.634 9.059-6.695 9.452 6.695-3.545-10.634 9.059-6.695h-11.028zm-64.985 0l-3.545-11.028-3.544 11.028H50.019l9.452 6.695-3.938 10.634 9.452-6.695 9.453 6.695-3.939-10.634 9.453-6.695H68.53zm291.843-27.57l-3.545-11.027-3.545 11.027h-11.421l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-64.986 0l-3.544-11.027-3.939 11.027h-11.421l9.452 6.696-3.545 10.634 9.059-6.696 9.846 6.696-3.938-10.634 9.452-6.696h-11.422zm-64.591 0l-3.938-11.027-3.151 11.027h-11.816l9.453 6.696-3.545 10.634 9.059-6.696 9.452 6.696-3.545-10.634 9.059-6.696h-11.028zm-64.985 0l-3.545-11.027-3.544 11.027H147.3l9.452 6.696-3.938 10.634 9.452-6.696 9.453 6.696-3.939-10.634 9.452-6.696h-11.421zm-64.985 0l-3.545-11.027-3.545 11.027H82.315l9.452 6.696-3.938 10.634 9.452-6.696 9.452 6.696-3.938-10.634 9.452-6.696h-11.421zm-64.592 0l-3.938-11.027-2.757 11.027H17.723l9.453 6.696-3.545 10.634 8.665-6.696 9.452 6.696-3.545-10.634 9.059-6.696H36.234z"
        )
    +button("button")#copy-english.btn.btn_copy.btn_size_s.btn_rounded.btn_transparent(
      title="Copy to clipboard"
    ) Copy
