svg.logo(
  xmlns="http://www.w3.org/2000/svg"
  fill-rule="evenodd"
  stroke-linejoin="round"
  stroke-miterlimit="1.414"
  clip-rule="evenodd"
  viewBox="0 0 120 120"
  width="120"
  height="120"
)
  path(
    d="M90.596 49.648c-16.211 0-29.402 13.194-29.402 29.41 0 16.211 13.191 29.404 29.402 29.404 16.214 0 29.404-13.193 29.404-29.404-.002-16.216-13.19-29.41-29.404-29.41zm-69.151 51.767C9.622 101.415.004 91.799.004 79.973v-5.98a3.759 3.759 0 0 1 7.518 0v5.98c0 7.674 6.246 13.92 13.923 13.92h16.244v-6.358l17.528 10.123-17.528 10.12v-6.363H21.445zm68.123-33.276H72.009V89.97h17.715v-5.146H77.997v-3.461h10.479v-4.772H77.997v-3.306h11.571v-5.146zm2.901 4.959V89.97h5.925v-9.138c0-1.84 1.061-2.838 2.495-2.838 1.404 0 2.37.998 2.37 2.838v9.138h5.926V78.93c0-3.836-2.152-6.206-5.738-6.206-2.402 0-3.961 1.341-5.053 2.744v-2.37h-5.925zm-63.065-61.56C13.19 11.538 0 24.731 0 40.944c0 16.212 13.19 29.404 29.404 29.404 16.211 0 29.402-13.192 29.402-29.404 0-16.213-13.189-29.406-29.402-29.406zm7.525 20.907h-6.206l6.612 16.56c-.374.53-.78.686-1.372.686-.655 0-1.653-.343-2.589-.904l-1.84 4.148c1.559.873 3.337 1.466 5.427 1.466 3.368 0 4.958-1.56 6.424-5.489l6.175-16.467h-6.081l-3.181 10.167-3.369-10.167zm45.386-13.86h16.244c11.821 0 21.439 9.618 21.441 21.438v5.98a3.76 3.76 0 0 1-7.52 0v-5.98c0-7.676-6.246-13.922-13.921-13.922H82.315v6.362L64.787 22.342 82.315 12.22v6.365zM20.369 43.08c5.426 0 9.387-2.714 9.387-7.86 0-4.896-3.555-7.734-9.075-7.734h-9.357v21.831h6.051V43.08h2.994zm-.125-4.741h-2.869v-5.77h2.838c2.183 0 3.493.998 3.493 2.87 0 1.777-1.31 2.9-3.462 2.9z"
  )
